*{
	margin: 0; Padding: 0; 
	font-family: Arial, Helvetica, sans-serif;
}
canvas{
	width: 100%;
	height: 600px;
	background-image: url(..//img/IMG_2014.jpg);
    background-size: cover;
    filter: blur(8px);
  -webkit-filter: blur(2px);
	
}
.navbar{
	background-color:#F9F9F9;
	color: #777777;
	font-size: 18px;
}

.navbar .nav-link{
	color: #777777;
}
.navbar .nav-link:hover{
	
	color: #FF234D;
	border-radius: 8px;
	transition: 0.2s;
}
.navbar .btn{
	background-color:#FF234D;
	font-weight: bold;
}
.rounded-pill{
	margin: 10px; 
}
.more1{
	background: #fff;
	color: #777777;
	padding: 15px 25px 15px 25px;
	font-size: 12px;
}

.more2{
	color: #fff;
	padding: 15px 25px 15px 25px;
	font-size: 12px;
}
.more1:hover{
		color: #fff;
		background: transparent;
		transition: 0.5s;
}
.more2:hover{
	background: #fff;
	color: #777777;
	transition: 0.5s;
}
.glow {
  font-size: 40px;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #E4ECED, 0 0 20px #E4ECED, 0 0 60px #FF234D, 0 0 70px #FF234D, 0 0 80px #FF234D, 0 0 90px #FF234D, 0 0 100px #FF234D;
  }
  
  to {
    text-shadow: 0 0 20px #E4ECED, 0 0 40px #FF234D, 0 0 50px #FF234D, 0 0 60px #FF234D, 0 0 70px #FF234D, 0 0 80px #FF234D, 0 0 100px #FF234D;
  }
}
.seats{
	display: inline-block;
	float: right;
}
.icons{
	display: flex;
	position: absolute;
	font-size: 60px;
	margin-left: 20px;
	color: #777777;
}
.details2{
	margin-left:90px;
}
.details2 h5{
	font-weight: bold;
}
.details .icons{
	font-size: 45px;
}
.main-icons a{
	color: #777777;
}
.main-icons a:hover{
	color:#DDDDDD;
}
.details{
	background: #FBFBFB;
	box-shadow: 2px 2px 2px 2px #DDDDDD;
	padding: 10px 0 10px 0;
	border-radius: 8px;
}

#services{
	background-color: #F9F9F9;
}
.hire-me{
	background-color: #222222;
}
.hire-me h4{
	line-height: 30px;
}
.hire-me .btn{
	padding: 10px 25px 10px 25px;
	margin: 0;
	background: #fff;
	border: 1px solid #fff;
}
.hire-me .btn:hover{
	color: white;
	background: transparent;
}
.form-control{
	background-color:#F9F9F9;
}
form textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-top: 6px;
	margin-bottom: 0;
	resize: vertical;
	background-color:#F9F9F9;
  
}
form .sent button{
	background-color: #F9F9F9; padding: 5px 25px 5px 25px; border-radius: 10px;
	color: dark;
}
form .sent button:hover{
	background-color: #34495e;
	color: #fff;
}
.touch .address, .mail, .phone{
	background-color:#F9F9F9;
	border-radius: 4px;
	padding-left: 8px;
	color: #888888;
	transition: 0.5s;
}
.touch .phone:hover{
	background: #4D4D4D;
	color: #FFF;
}
.touch .address:hover{
	background: #4D4D4D;
	color: #FFF;
}
.touch .mail:hover{
	background: #4D4D4D;
	color: #FFF;
}
.protfolio img{
	height: 250px;
	width: 100%;
}
.protfolio img:hover{
	transform: scale(1.1);
	transition: 1s;
}
.footer-icon a{
	color: #9e8080;
}
.footer-icon a:hover{
	color:#fff;
}

.footer .col-md-12{
	text-align: center;
}



.loader{
    width: 100%;background: white;position: fixed;top: 0;left: 0;
    height: 100%;z-index: 100;
}
.loader .inner{
    width: 100%;height: 100%;background: url("../img/loader.webp") center center no-repeat;
}





